<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>IC Search Engine</title>
  </head>
  <body>
    <form method="post" enctype="multipart/form-data">
      <input type="text" name="Name" value="" placeholder="name of IC"/>
      <input type="number" name="Number of Pins" value="" placeholder="no. of pins"/>
      <input type="text" name="Shape" value="" placeholder="shape"/>
      <input type="text" name="Description" value="" placeholder="description"/>
      <input type="url" name="Datasheet" value="" placeholder="datasheet"/>
      <input type="file" name="pinout_diagram" value="" placeholder="upload pinout"/>
      <input type="submit" name="Submit" value="SUBMIT" placeholder="submit"/>
    </form>
  </body>
</html>
